.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App .content .row {
  margin: 20px;
}

.App .content .row .value {
  margin: 0 10px;
  padding: 5px;
}

.App .content .row button {
  margin: 5px;
  width: 40px;
  cursor: pointer;
}

.App .content .row select {
  margin-left: 8px;
}